*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Fredoka;
    width: 70%;
    height: 80%;
    margin: auto;
    text-align: center;
}

.row{
    width: 33.3%;
    display: inline-block;
}

header{
    margin-top: 25px;
    margin-bottom: 40px;
    color: rgb(255, 0, 149);
}

#intro{
    margin-bottom: 40px;
}
.card{
    margin: 20px;
    width: calc(70%/3);
    background-color: black;
    display: inline-block;
}
 .card.terza{
    float:right
 }


.info{
    width: 65%;
    display: inline;
    float:right;
}

img{
    float: left;
    width: 30%;
    float: left;
}

.nome,.posizione{
    color: white;
}
.posizione{
    font-weight: lighter;
}
.email{
    color: aqua;
    font-weight: lighter;
}