*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Fredoka;
}

main{
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
}

header{
    margin-top: 25px;
    color: rgb(255, 0, 149);
}

h1 {
    font-size: 40px;
}

#intro{
    margin: 40px 0;
    color: rgb(34, 34, 34);
    font-size: 18px;
}
.card{
    width: calc(99% / 3 - 15px);
    background-color: black;
    display: inline-block;
    margin:0 15px 15px 0;
    height: auto;
}

.info{
    width: 60%;
    display: inline;
    float:right;
    text-align: left;
    padding: 10px 0 0 25px;
}

.picture{
    width: 40%;
}

img{
    float: left;
    width: 100%;
}

.nome,.posizione{
    color: white;
}
.nome{
    font-size: 30;
    margin-bottom: 25px;
}
.posizione{
    font-size: 15px;
    margin-bottom: 10px;
}
.email{
    color: aqua;
    font-weight: lighter;
}
