*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Fredoka;
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
}

header{
    margin-top: 25px;
    color: rgb(255, 0, 149);
}

#intro{
    margin-bottom: 40px;
    margin-top: 40px;
    color: black;
}
.card{
    width: calc(99% / 3);
    background-color: black;
    display: inline-block;
    margin-bottom: 20px;
    height: 120px;

}

.info{
    width: 70%;
    display: inline;
    float:right;
    text-align: left;
    padding: 10px;
}

img{
    float: left;
    height: 100%;
}

.nome,.posizione{
    color: white;
}
.nome{
    font-size: 30;
    margin-bottom: 15px;
}
.posizione{
    font-size: 15px;
    margin-bottom: 10px;
}
.email{
    color: aqua;
    font-weight: lighter;
}

#riga{
    width: 100%;
}
